In [2]:
import numpy as np
import pandas as pd

In [7]:
# Read the basic data frame of IMDb
df = pd.read_csv("../dat/imdb_data/title_basics/data.tsv", sep="\t")
print("overall: ", len(df.index))

# Sort out any non-movies (e.g tv-shows)
df = df[df["titleType"] == "movie"]
print("Number of movies:\t", len(df.index))

# Read the review data frame of IMDb
df_reviews = pd.read_csv("../dat/imdb_data/title_ratings/data.tsv", sep="\t")

df["tconst"] = df["tconst"].astype(str)
df_reviews["tconst"] = df_reviews["tconst"].astype(str)

# inner merge of movies and ratings (movies without any votes are dropped)
df = df.merge(df_reviews, how="inner", on="tconst")
print("Number of movies with rating:\t", len(df.index))

# Free up some memory
del df_reviews


# Read in our scraped data
df_scrape = pd.read_csv("../dat/tconst_scraped_data.csv")
df_scrape = df_scrape[~df_scrape.duplicated(['tconst'], keep="first")]
print("Number scraped movies:\t", len(df_scrape))

## Hard Coding

# Change Movie ID "" in the basic DF to the new id ""
# These are the same movie. The basic IMDb data set has an old (invalid) tconst
df["tconst"] = df["tconst"].replace(["tt11905872"], "tt4131756")
df["tconst"] = df["tconst"].replace(["tt4332782"], "tt0246007")
df["tconst"] = df["tconst"].replace(["tt5072702"], "tt4508986")
df["tconst"] = df["tconst"].replace(["tt6419536"], "tt4481310")

df = df[~df.duplicated(['tconst'], keep="first")]

# Drop Movie 
# "tt7368158", "tt2437136", "tt2584608", "tt6858500",
# "tt7375242", "tt7598832", "tt7718552", "tt7728678", "tt7738378"
# "tt8768374", "tt9828428"
# because it's no longer available
# Movie not available (404 Error)
df = df[df.tconst != "tt7368158"]
df = df[df.tconst != "tt2437136"]
df = df[df.tconst != "tt2584608"]
df = df[df.tconst != "tt6858500"]
df = df[df.tconst != "tt7375242"]
df = df[df.tconst != "tt7598832"]
df = df[df.tconst != "tt7718552"]
df = df[df.tconst != "tt7728678"]
df = df[df.tconst != "tt7738378"]
df = df[df.tconst != "tt8768374"]
df = df[df.tconst != "tt9828428"]
print("Number of movies after dropping:\t", df.shape[0])

# Movie "tt1027755" does not have start year but was realeased in 2012
df.iloc[147505, 5] = "2012"
df.iloc[148639, 5] = "2020"
df.iloc[161518, 5] = "2019"
df.iloc[161520, 5] = "2020"
df.iloc[178919, 5] = "2021"
df.iloc[185090, 5] = "2021"
df.iloc[254051, 5] = "2019"
df.iloc[259152, 5] = "2018"
df.iloc[259650, 5] = "2018"
df.iloc[271440, 5] = "2018"
df.iloc[271532, 5] = "2016"
df.iloc[272545, 5] = "2019"

df["tconst"] = df["tconst"].astype(str)
df_scrape["tconst"] = df_scrape["tconst"].astype(str)
df2 = df.copy()


# Merge the data frame and the scraped content
df = df.merge(df_scrape, how="inner", on="tconst")
print("Number of movies after merge:\t", df.shape[0])

# Free up some memory
del df_scrape

# Read the review data frame of IMDb
df_crew = pd.read_csv("../dat/imdb_data/title_crew/data.tsv", sep="\t")

df["tconst"] = df["tconst"].astype(str)
df_crew["tconst"] = df_crew["tconst"].astype(str)

# inner merge of movies and ratings (movies without any votes are dropped)
df = df.merge(df_crew, how="inner", on="tconst")
print("Number of movies after crew merge:\t", len(df))


# Free up some memory
del df_crew

# Sort according to tconst
df = df.sort_values("tconst")

df.to_csv("../dat/raw_data.csv", index=False)
print("saved dataframe sucesfully!")

/home/daniel/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

overall:  8598896
Number of movies:	 598851
Number of movies with rating:	 273557

/home/daniel/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Number scraped movies:	 273543
Number of movies after dropping:	 273543
Number of movies after merge:	 273543
Number of movies after crew merge:	 273543
saved dataframe sucesfully!

In [ ]:
import re
from collections import Counter

budget = df["Budget"].to_numpy()

currencies = []
counter = 0

for i in range(len(budget)):
    string = budget[i]

    if not pd.isna(string):
        number = "".join(re.findall(r"[\d]+", string))
        currency = re.findall(r"[^{\d,\xa0}]+", string)[0]
        currencies.append(currency)

        if currency in ["$", "£", "€", "CA$", "₹", "A$"]:
            counter += 1

print(Counter(currencies))
print(counter)

# data for ["$", "€", "CA$", "£", "A$", ]

In [ ]:
from currency_converter import CurrencyConverter
from datetime import date  # datetime works too

c = CurrencyConverter(fallback_on_wrong_date=True)
c.convert(100, "USD", date=date(1999, 3, 1))

In [ ]:
np.unique(currencies)

In [ ]:
print(df_budget[df_budget["primaryTitle"] == "Up"])

In [ ]:
print("\xa0")

In [ ]:
# ours 797_615_189.873417
# infl 797_701_090.78

In [ ]:
df.to_csv("../dat/raw_data.csv", index=False)

In [ ]:
c.currencies

In [6]:
df[(df.startYear == "\\N")]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,Budget,Gross US & Canada,Opening weekend US & Canada,Gross worldwide,Rating,Critic reviews,User reviews,directors,writers
39315,tt0073399,movie,Atlantic City Jackpot,The Money,0,\N,\N,88,"Action,Drama",5.6,58,NaN,NaN,NaN,NaN,NaN,NaN,4.0,nm0941457,nm0941457
49465,tt0090238,movie,Unternehmen Geigenkasten,Unternehmen Geigenkasten,0,\N,\N,82,"Crime,Family",7.5,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0295431,"nm0295431,nm0314329,nm0333146"
52483,tt0095424,movie,Kalamazoo,Kalamazoo,0,\N,\N,88,"Fantasy,Romance",5.6,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0285471,"nm0285471,nm0545956"
88852,tt0203086,movie,Home-Coming in Granddaughter: The Cultural Com...,San Jie Cao,0,\N,\N,58,Documentary,7.4,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0508629,\N
137508,tt0491947,movie,Ceza,Ceza,0,\N,\N,86,\N,4.8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0351645,nm2137632
137817,tt0494921,movie,Ask Adasi,Ask Adasi,0,\N,\N,\N,Drama,5.7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0433657,nm0433657
137837,tt0494975,movie,Nikah,Nikah,0,\N,\N,\N,Drama,4.8,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm0433657,nm1759633
146760,tt10172414,movie,You Don't Know Nicotine,You Don't Know Nicotine,0,\N,\N,\N,Documentary,8.5,33,NaN,NaN,NaN,NaN,NaN,NaN,3.0,nm7618090,\N
147505,tt1027755,movie,Tied in Blood,Tied in Blood,0,\N,\N,88,"Drama,Horror,Mystery",3.5,222,"£150,000 (estimated)",NaN,NaN,NaN,NaN,9.0,11.0,nm2652936,nm4894856
148639,tt10425364,movie,Samhain,Samhain,0,\N,\N,78,"Comedy,Horror",2.2,6,"$3,500 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm10736500,nm9502936
158269,tt11777460,movie,Sri Bharatha Baahubali,Sri Bharatha Baahubali,0,\N,\N,164,Comedy,7.6,2562,NaN,NaN,NaN,NaN,NaN,NaN,8,nm4335419,nm4335419
161518,tt12325302,movie,Luccas Neto em: Acampamento de Férias,Luccas Neto em: Acampamento de Férias,0,\N,\N,87,"Comedy,Family",2.3,63,R$10 (estimated),NaN,NaN,NaN,NaN,NaN,NaN,nm1149898,\N
161520,tt12325326,movie,Luccas Neto em: Acampamento de Férias 2,Luccas Neto em: Acampamento de Férias 2,0,\N,\N,81,"Comedy,Family",2.3,59,R$10 (estimated),NaN,NaN,NaN,NaN,NaN,NaN,nm1149898,\N
165186,tt12937684,movie,Sai Gon Trong Con Mua,Sai Gon Trong Con Mua,0,\N,\N,105,"Drama,Romance",6.9,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm11832606,"nm11832606,nm9831547"
178919,tt15256288,movie,Te nombré en el silencio,Te nombré en el silencio,0,\N,\N,84,Documentary,8.7,13,"MX$4,000,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm7479631,nm7479631
182145,tt15909296,movie,Shkembimi,Shkembimi,0,\N,\N,87,"Action,Comedy,Crime",7.9,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm7914436,"nm7914436,nm1115716"
185090,tt16740148,movie,Hidden Agenda,Hidden Agenda,0,\N,\N,65,Drama,9.7,6,"UGX 100,000,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm13253609,nm13253609
204999,tt2368535,movie,As Words Breathe,A Breath to Survive,0,\N,\N,80,Drama,7.9,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm1580680,nm1580680
234526,tt4718876,movie,Haikus on a Plum Tree,Haikus on a Plum Tree,0,\N,\N,73,"Biography,Documentary",7.9,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm7356760,"nm7356760,nm0208495"
240293,tt5280118,movie,Olympicos,Olympicos,0,\N,\N,\N,Animation,8.0,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nm6998425,nm5697565","nm1649798,nm1650347,nm5697565,nm6998425,nm6998..."
252681,tt6546670,movie,Holud Bani,Holud Bani,0,\N,\N,\N,Drama,4.1,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nm7940669,nm8790878",nm6114027
254051,tt6745192,movie,Cool as Hell 2,Cool as Hell 2,0,\N,\N,90,Comedy,5.9,21,"$80,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm3859710,nm3859710
259152,tt7424940,movie,Vanity Fear,Vanity Fear,0,\N,\N,\N,Horror,3.8,6,"RUR 50,000,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm7559660,nm7559660
259650,tt7497036,movie,Jawani Janeman,Jawani Janeman,0,\N,\N,\N,Romance,6.4,6,"₹20,000,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm9187220,nm9163981
271440,tt9440664,movie,Patriot Acts,Patriot Acts,0,\N,\N,66,Documentary,3.8,5,"$135,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm10327764,\N
271532,tt9463998,movie,Welcome to Lebanon,Welcome to Lebanon,0,\N,\N,110,Comedy,6.0,29,"$3,000,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,nm7773174,nm10338296
272545,tt9692366,movie,Manhunt,Manhunt,0,\N,\N,105,Horror,5.0,6,€312 (estimated),NaN,NaN,NaN,NaN,NaN,NaN,nm9653495,nm9653495
273297,tt9862466,movie,God svini,God svini,0,\N,\N,\N,Comedy,5.6,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nm4705838,"nm1977517,nm8808338,nm10515061"
273460,tt9899368,movie,Lakewood Plaza Turbo,Lakewood Plaza Turbo,0,\N,\N,\N,"Action,Adventure,Animation",4.3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\N,\N